@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.firstWhiteColor{background: #DFE2E9;}
.secondRedColor{background: #F97462;}
.thirdYellowColor{background: #FFDB6D;}
.fourthBlackColor{background: #070707;}

/* =============================================================================================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.row{
    height: 100vh;
}

/* Sidebar =========================================*/

 .mosLogo{
   width: 100px;
   padding-top: 3em;
   margin-left: -0.5em;
   
}
.sideBarBtns li{
    padding-top: 4em;
    list-style-type: none;
}
.sideBarBtns li img{
    width: 4em;
    margin-left: -1.3em;
}
#sidebar{
    background-color: #f7f7f7;
}
.sideBarBtns li .logoutBtn{
    margin-left: -0.5em;
    margin-top: 10em;
    width: 2.9em;
}

  /* content==================================================================== */

  .content{
    background: #DFE2E9;
  }
  .content .addCustTable{
    margin-top: 14em;
  }
  .content .addCust table tr td{
    padding-left: 1em;
    padding-top: 1em;
  }
  #addCustomerBtn{
    margin-top: 6em;
    /*margin-left: 24em; */
    display: block;
  }
  .btn-primary{
    background-color: #F97462;
    border: none;
    height: 2.5em;
    padding-top: 0.5em;
  }
  .btn-primary:hover{
    background-color: #FFDB6D;
    color: #070707;
  }
  #customerDetails{
    padding-top: 13em;
  }
  #customerDetails table td{
    padding-top: 2em;
    padding-left: 5em;
  }
  #addNewCustomerBtn{
    /* margin-left: 21.6em;
    margin-top: -4em; */
    display: none;
  }